@charset "utf-8";
body {
    font-size:20px;
    margin: 0;
    background: skyblue;
}
.container {
    padding: 32px;
}

h1 {
    text-align: center;
    font-size:30px;
}

.name {
    text-align: center;
    font-size:25px;
}

.sendBtn {
    cursor: pointer;
    user-select: none;
}

.sendBtn:hover {
   background-color: #eee;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: space-around;
}

li {
    margin-bottom: 20px;
    /* display: flex; */
}

.pic img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {
    background: #fff;
    border-radius: 8px;
    padding: 8px 24px;
    max-width: 60%;
    line-height: 1.8;
    margin: 30px 0;
    margin-left: 10px;
}

#myFild{
    padding: 0;
    margin: 0;
}

#yourFild {
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
}

.command {
    font-size: 12px;
    color: blue;
    cursor: pointer;
    user-select: none;
}