@charset "utf-8";
body {
    font-size:20px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-size:30px;
}

.name {
    text-align: center;
    font-size:25px;
}

.sendBtn {
    cursor: pointer;
    user-select: none;
}

.sendBtn:hover {
   background-color: #eee;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 20px;
}

.myChat,.yourChat {
    display: flex;
    flex-direction: column;    
}
#myFild{
    background-color:burlywood;
    padding-top: 10px;
}

#yourFild {
    background-color: aquamarine;
    padding-top: 10px;
}