<!DOCTYPE html>
<html lang ="ja">
    <head>
        <meta charset="utf-8">
        <title>My Vue App</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <section id="chat">
            <h1> 
                チャット
            </h1>
            <div class="container">
                <!-- myChat -->
                <div class="myChat">
                    <p class="name">あなたのチャット</p>
                    
                    <ul id="myFild"> 
                        <li v-for="(myTalk,index) in myTalks">
                            <span :class="{done: myTalk.isDOne}">{{myTalk.title}}</span>
                            <span @click="deleteItem(index)" class="command">[X]</span>
                        </li> 
                    </ul>            
                    <form @submit.prevent="addMymessage">
                        <input type="text" v-model="myMessage" placeholder="あなたのチャット">
                        <input type="submit" value="送信" class="sendBtn">
                    </form>
                </div>

                <!-- yourChat -->
                <div class="yourChat">
                    <p class="name">相手のチャット</p>
                    <ul id="yourFild">
                        <li v-for="(yourTalk,index) in yourTalks">
                            <span :class="{done: yourTalk.isDOne}">{{yourTalk.title}}</span>
                            <span @click="deleteItem2(index)" class="command">[X]</span>
                        </li>
                    </ul>
                    <form @submit.prevent="addOthermessage">
                        <input type="text" v-model="otherMessage" placeholder="相手のチャット">
                        <input type="submit" value="送信" class="sendBtn">    
                    </form>                
                </div>
            </div>
        </section>
            </form> -->
        <script src="js/main.js"></script>
        <script src="js/vue.min.js"></script>
    </body>
</html> 